<div style="margin-top:-170px;">
    <div class="row justify-content-md-center align-content-center text-center">

        <div class="col col-md-3 bg-white habilidades"
             style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray;">
            <i class="bi-hdd-fill"></i>

            <h3>Back-end</h3>

            <p>Desarrollo de aplicaciones web y móviles con tecnologías como C#, .NetCore, PhP y Laravel.</p>

            <p class="cabecera">Stack:</p>
            <p>C#, Laravel, Php</p>

            <p class="cabecera">Experiencia</p>
            <ul>
                <li>ASP .NetCore</li>
                <li>PhP</li>
                <li>Laravel</li>

            </ul>
        </div>

        <div class="col col-md-3 bg-white habilidades"
             style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray;">
            <i class="bi bi-code-slash"></i>
            <h3>Front-end</h3>
            <p>Desarrollo de aplicaciones web y móviles con tecnologías como C#, .NetCore, PhP y Laravel.</p>

            <p class="cabecera">Stack:</p>
            <p>Blazor, React</p>

            <p class="cabecera">Experiencia</p>
            <ul>
                <li>Markdown</li>
                <li>React</li>
                <li>Blazor</li>
                <li>HTML</li>

            </ul>

        </div>
    </div>
</div>