
<div class="text-center">
    <h1 class="display-4">Soy Alicia Estrada</h1>
    <h2> Desarrolladora Junior, con experiencia en C#, C++, PhP, Laravel y .NetCore</h2>

    <img id="foto" src="~/Images/gatito.jpeg" alt="Foto de Perfil" />

</div>

<div class="container text-center">
    <img id="dotnet-robot" src="~/Images/NetRobot.png" alt=".Net Robot" />
</div>

<div style="background-color:#312e81;"
     class="row justify-content-center text-center">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>En este espacio podrás encontrar información sobre mi experiencia laboral, proyectos en  los que he trabajado y mis habilidades como desarrolladora de software.</p>

    </div>
</div>